* {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center; */
  font-family: 'Inconsolata', monospace;
}

.answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

body {
  background-color: #52CAFF;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
